@font-face {
  font-family: "iconfont"; /* Project id 3886285 */
  src: url('./iconfont/iconfont.woff2?t=1675869336666') format('woff2'),
       url('./iconfont/iconfont.woff?t=1675869336666') format('woff'),
       url('./iconfont/iconfont.ttf?t=1675869336666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-xiajiantou:before {
  content: "\e602";
}

.icon-xiajiantou1:before {
  content: "\eb6d";
}

.icon-ln_jiantouzuo:before {
  content: "\e603";
}

.icon-jiantou_zuo:before {
  content: "\e872";
}

